# Игнорировать скомпилированные файлы Python
*.pyc
*.pyo
*.pyd

# Игнорировать папку __pycache__
__pycache__/

# Игнорировать папки виртуальных окружений
venv/
env/
.venv/
ENV/
.ENV/

# Игнорировать файлы журналов
*.log

# Игнорировать файлы IDE (например, PyCharm, VSCode и другие)
.vscode/
.idea/

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать системные файлы Windows
Thumbs.db

# Игнорировать временные файлы, такие как backup-файлы и другие временные файлы
*.bak
*.swp